<tr
  id="service-<%= service.id %>"
  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <th scope="row"
      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= service.created_at.strftime('%d-%m-%Y') %>
  </th>
  <th scope="row"
      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= service.name %>
  </th>
  <td class="px-6 py-4">
    <%= service.price %>
  </td>
  <td class="px-6 py-4">
    <%= service.note %>
  </td>
  <td class="px-6 py-4">
    <%= render "shared/menu_button" do%>
      <%= button_to "Sửa", edit_service_path(service), method: :get, class: "btn btn-ghost w-full text-blue-800", remote: true,  data: { turbo_stream: '' }, onClick: "remote_modal.showModal()" %>
      <%= button_to "Xóa", service_path(service), method: :delete, class: "btn btn-ghost w-full text-red-500", data: { turbo_confirm: "Bạn có chắc chắn muốn xóa dịch vụ này?" }, remote: true %>
    <% end %>
  </td>
</tr>
