<div class="relative">
  <%= render "shared/flash"%>
  <div>
    <%= render 'users/navigation'%>
    <div class="sm:ml-64">
      <%= render 'users/topnav'%>
      <div class="right-div">
        <!-- table -->
        <%= turbo_frame_tag "service_list" do%>
          <%= render 'table' %>
        <%end%>
      </div>
    </div>
  </div>
</div>
