
<div>
  <%if current_user.has_role?(:user)%>
    <%= render 'users/navigation'%>
  <%else%>
    <%= render 'admin/navigation'%>
  <%end%>
  <div class="sm:ml-64">
    <%if current_user.has_role?(:user)%>
      <%= render 'users/topnav'%>
    <%else%>
      <%= render 'admin/topnav'%>
    <%end%>
    <!-- table -->
    <div class="right-div">
      <%= render 'show_information'%>
    </div>
  </div>
</div>
