<h1 class="text-[25px]">Thông tin chi tiết về khách thuê</h1>
<p>Tên người ở: <%= @renter.name%></p>
<p>Số điện thoại: <%= @renter.phone_number%>
<p>Số CCCD: <%= @renter.identity%></p>
<p>Địa chỉ: <%= @renter.address%></p>
<p>Giới tính: <%= @renter.gender == "male"? "Nam" : "Nữ" %></p>
<p>Tiền cọc: <%= @renter.deposit%></p>
<p>Vai trò: <%= @renter.renter_type == "main" ? "Người đứng tên" : "Người ở ghép"%>
<p>Hiện đang ở: <%= Room.find_by(id: @renter.room_id).name%></p>
<hr class="m-4">
<div class="flex justify-between">
  <%= button_to "Sửa", edit_renter_path(@renter), method: :get, class: "btn btn-primary text-blue-800", remote: true %>
  <%= button_to "Xóa", renter_path(@renter), method: :delete, class: "btn btn-danger text-red-800", data: { turbo_confirm: "Bạn có chắc chắn muốn xóa khách hàng này?" }, remote: true%>
</div>
