<%= render 'shared/flash'%>
<div class="main-container" >
        <div id="left-div" class="left-div" >
            <div class="left-div-child">
                <%= render 'users/navigation'%>
            </div>
        </div>
        <div id="right-container" class="right-container">
            <%= render 'users/topnav'%>
            <div class="right-div">
          <div class="max-w-md p-6 bg-blue-600 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" data-controller="datepicker">
            <%= render 'form',  renter: @renter%>
          </div>
          <%= render 'users/footer'%>
      </div>
  </div>
</div>