<%= turbo_frame_tag "new_invoice" do%>
  <div class="w-full p-6 bg-blue-300 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" data-controller="datepicker">
    <h1>Tên khách hàng: <%= @renter.nil? ? "trống" : @renter.name%></h1>
    <h1>Tên Phòng: <%= @room.name%></h1>
    <h1>Giá: <%= @room.price_room%></h1>
    <h1>Các loại phí khác cần thu: </h1>
    <h1>Tổng giá điện sử dụng: <%= @total_electric_price%></h1>
    <h1>Tổng giá nước sử dụng: <%= @total_water_price%></h1>
    <h1>Phí Internet: <%=  current_user.setting.price_internet%> </h1>
    <h1>Phí giữ xe: <%= current_user.setting.price_security%></h1>
    <h1>Phí vệ sinh: <%= current_user.setting.price_trash%></h1>

    <%= render 'form', locals: {renter: @renter, total_price: @total_price}%>
  </div>
<%end%>
