<%= render 'shared/flash'%>
<div class="main-container">
        <div id="left-div" class="left-div">
            <div class="left-div-child" >
                <%= render 'users/navigation'%>
            </div>
        </div>
        <div id="right-container" class="right-container">
            <%= render 'users/topnav'%>
            <div class="right-div">
                <!-- table -->
                <div class="flex flex-col border m-2 border-slate-700 pb-8 mb-10">
                    <div class="flex justify-between sm:flex-row flex-col border-b border-gray-300 ml-4 mr-4">
                        <h1 class="text-2xl m-2 font-bold">Danh Sách Hóa Đơn Theo Từng Phòng</h1>
                        <div class="m-2 flex">
                            <button type="button"
                                class="btn btn-danger btn-large"><i
                                    class="fa-solid fa-close mr-2"></i>Xóa Tất Cả</button>
                        </div>
                    </div>
                    <div class="m-4">
                        Tìm:
                        <input type="text" id="search" placeholder="Nhập mã hóa đơn.." class="w-[200px] m-2 p-2">
                    </div>
                    <!-- table -->
                    <div
                        class="relative overflow-x-auto shadow-md sm:rounded-lg m-4 overflow-y-auto max-w-[350px] sm:max-w-[600px] lg:max-h-[400px] lg:max-w-full">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 min-h-[350px]">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                  <th scope="col" class="px-6 py-3">
                                      Invoice Name
                                  </th>
                                  <th scope="col" class="px-6 py-3">
                                    <div class="flex items-center">
                                        Total Price
                                        <a href="#"><%= image_tag 'icons/arrange.svg' , class: 'w-3 h-3 ms-3.5', alt: 'Arrange Icon' %></a>
                                    </div>
                                  </th>
                                  <th scope="col" class="px-6 py-3">
                                    <div class="flex items-center">
                                        Paid Money
                                        <a href="#">
                                          <%= image_tag 'icons/arrange.svg', class: 'w-3 h-3 ms-3.5', alt: 'Arrange Icon' %>
                                        </a>
                                    </div>
                                  </th>
                                  <th scope="col" class="px-6 py-3">
                                    <div class="flex items-center">
                                        Remaining
                                        <a href="#"> <%= image_tag 'icons/arrange.svg', class: 'w-3 h-3 ms-3.5', alt: 'Arrange Icon' %>
                                        </a>
                                    </div>
                                  </th>
                                  <th scope="col" class="px-6 py-3">
                                    <div class="flex items-center">
                                        Room
                                        <a href="#"> <%= image_tag 'icons/arrange.svg', class: 'w-3 h-3 ms-3.5', alt: 'Arrange Icon' %>
                                        </a>
                                    </div>
                                  </th>
                                  <th scope="col" class="px-6 py-3">
                                    <div class="flex items-center">
                                        Renter
                                        <a href="#"> <%= image_tag 'icons/arrange.svg', class: 'w-3 h-3 ms-3.5', alt: 'Arrange Icon' %>
                                        </a>
                                    </div>
                                  </th>
                                  <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                  </th>
                                </tr>
                            </thead>
                            <tbody>
                              <% @invoices.each do |invoice|%>
                                <tr
                                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                      <%= invoice.name %>
                                    </th>
                                    <td class="px-6 py-4">
                                      <%=invoice.total_price%>
                                    </td>
                                    <td class="px-6 py-4">
                                      <%= invoice.paid_money%>
                                    </td>
                                    <td class="px-6 py-4">
                                      <%= invoice.total_price - invoice.paid_money%>
                                    </td>
                                    <td class="px-6 py-4">
                                      <%= Room.find_by(id: invoice.room_id).name%>
                                    </td>
                                    <td class="px-6 py-4">
                                      <%= Renter.find_by(id: Room.find_by(id: invoice.room_id).renter_id).name%>
                                    </td>
                                    <td class="px-6 py-4 flex justify-center items-center h-full">
                                        <%= button_to "Edit", edit_room_invoice_path(Room.find_by(id: invoice.room_id), invoice), method: :get, class: "btn btn-primary btn-large", remote: true %>
                                        <%= button_to "Delete", room_invoice_path(Room.find_by(id: invoice.room_id),invoice), method: :delete, class: "btn btn-danger btn-large", data: { turbo_confirm: "Bạn có chắc chắn muốn xóa hóa đơn này?" }, remote: true%>
                                    </td>
                                </tr>
                              <%end%>
                            </tbody>
                        </table>
                    </div>
                </div>


                <%= render 'users/footer'%>
            </div>
        </div>
    </div>
