<div class="relative">
  <%= render "shared/flash"%>
  <div>
    <%= render 'users/navigation'%>
    <div class="sm:ml-64">
      <%= render 'users/topnav'%>
      <!-- table -->
      <%= render 'table'%>
    </div>
  </div>
</div>
<%= render "shared/modal"%>
