<div class="relative">
  <%= render "shared/flash"%>
  <div>
    <%= render 'users/navigation'%>
    <div class="sm:ml-64">
        <%= render 'users/topnav'%>
          <!-- table -->
          <%= render 'table'%>
          <%= render 'users/footer'%>
    </div>
  </div>
</div>
