<div class="p-6 bg-gray-50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col mt-6 pb-8 mb-10 mr-4 ml-4">
  <div class="flex justify-between sm:flex-row flex-col border-b border-gray-300 ml-4 mr-4">
    <h1 class="text-2xl m-2 font-bold">Danh Sách Thông Báo</h1>
    <div class="m-2 flex">
        <%= button_to new_admins_notification_path, method: :get, class: "btn btn-primary", data:{turbo_stream: ""}, onClick: "my_modal_4.showModal()" do %><i
                class="fa-solid fa-pen mr-2"></i>Tạo Thông Báo Mới<% end %>
    </div>
  </div>
  <div class="m-4">
    <%= form_with(url: admins_notifications_path, method: 'get', class: "w-[250px] md:w-full flex flex-wrap") do |form| %>
      <div class="relative w-[300px] sm:w-[350px] ml-2">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <%= vite_image_tag("images/icons/glass.svg", class: "w-4 h-4 text-gray-500 dark:text-gray-400")%>
        </div>
        <%= form.text_field :search, type: "search", id: 'default-search', class: "block w-full p-4 pr-20 mr-4 mt-2 lg:mt-0 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Nhập tiêu đề.." %>
        <%= form.submit "Tìm", class: "text-white absolute end-1.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"%>
      </div>
    <% end %>
  </div>
  <!-- table -->
  <div
    class="relative overflow-x-auto border-dashed shadow-lg sm:rounded-lg m-4 overflow-y-auto max-w-[350px] sm:max-w-[600px] md:max-h-[600px] lg:max-w-full">
    <table class="w-full text-sm text-left rtl:text-right border-dashed border-b text-gray-500 dark:text-gray-400 min-h-[350px] sm:min-h-[650px]">
        <thead
            class="text-xs text-gray-700 uppercase bg-slate-300 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">
                STT
              </th>
              <th scope="col" class="px-6 py-3">
                Ngày Tạo
              </th>
              <th scope="col" class="px-6 py-3">
                  <div class="flex items-center">
                      Tiêu đề
                      <a href="#"> <%= vite_image_tag 'images/icons/arrange.svg', class: 'w-3 h-3 ms-3.5', alt: 'Arrange Icon' %>
                      </a>
                  </div>
              </th>
              <th scope="col" class="px-6 py-3">
                  <div class="flex items-center">
                      Nội dung
                      <a href="#">
                        <%= vite_image_tag 'images/icons/arrange.svg', class: 'w-3 h-3 ms-3.5', alt: 'Arrange Icon' %>
                      </a>
                  </div>
              </th>
              <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Edit</span>
              </th>
            </tr>
        </thead>
        <tbody class="<%= @notifications.length < 5 ? 'text-lg' :  'text-md'%>">
          <% @notifications.each_with_index do |notification, index|%>
            <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer">
              <th scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= index + 1 %>
              </th>
              <th scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= notification.created_at.strftime('%d-%m-%Y %H:%M') %>
              </th>
              <th scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= notification.params[:message][:title].to_s%>
              </th>
              <td class="px-6 py-4">
                <%= notification.params[:message][:body].to_s%>
              </td>
              <td class="px-6 py-4">
                  <%= render "shared/menu_button" do%>
                    <%= button_to "Sửa", edit_admins_notification_path(notification), method: :get, class: "btn btn-ghost w-full text-blue-800", remote: true, data: {turbo_stream: ""}, onClick: "my_modal_4.showModal()" %>
                    <%= button_to "Xóa", admins_notification_path(notification), method: :delete, class: "btn btn-ghost w-full text-red-500", data: { turbo_confirm: "Bạn có chắc chắn muốn xóa thông báo này?" }, remote: true%>
                  <% end %>
              </td>
            </tr>
          <%end%>
        </tbody>
    </table>
  </div>
  <%== render "shared/pagination", locals: {pagy: @pagy} %>
</div>
<%= render "shared/modal"%>
