<div class="w-full flex flex-col sm:flex-row sm:justify-around">
  <div class="card w-full p-6 bg-base-100 shadow-xl mt-6 m-4 md:p-6">
    <div class="text-2xl font-semibold ">List of empty rooms</div>
    <div class="divider mt-2"></div>
    <div class="h-full w-full pb-6 bg-base-100">
      <div class="overflow-x-auto">
        <table class="table w-full">
          <thead class="text-lg">
            <tr>
              <th>Number</th>
              <th>Room Name</th>
              <th>Price</th>
              <th>Max of people</th>
            </tr>
          </thead>
          <tbody>
            <% @rooms_nil.each_with_index do |room, index|%>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th>
                  <%= index + 1%>
                </th>
                <td>
                  <%= room.name%>
                </td>
                <td>
                  <%= room.price_room%>
                </td>
                <td>
                  <%= room.limit_residents%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card w-full p-6 bg-base-100 shadow-xl mt-6 m-4 md:p-6 ">
    <div class="text-2xl font-semibold ">List of no-paid rooms</div>
    <div class="divider mt-2"></div>
    <div class="h-96 w-full pb-6 bg-base-100">
      <div class="overflow-x-auto overflow-y-auto">
        <table class="table w-full">
          <thead class="text-lg">
            <tr>
              <th>Number</th>
              <th>Order Name</th>
              <th>Total Price</th>
              <th>Paid Money</th>
              <th>Left</th>
            </tr>
          </thead>
          <tbody>
            <% @invoices_not_pay.each_with_index do |invoice,index|%>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= index + 1%>
                </th>
                <td class="px-6 py-4">
                  <%= invoice.name%>
                </td>
                <td class="px-6 py-4">
                  <%= invoice.total_price%>
                </td>
                <td class="px-6 py-4">
                  <%= invoice.paid_money%>
                </td>
                <td class="px-6 py-4">
                  <%= invoice.total_price - invoice.paid_money%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
