<div class="dropdown dropdown-hover dropdown-end">
  <div tabindex="0" role="button" class="m-2">
    <div class="avatar <%= check_unread_noti ? "online": "offlice"%>">
      <div class="rounded-full">
        <%= vite_image_tag("images/dashboard/bell.png", class: "w-full h-full object-cover rounded-full")%>
      </div>
    </div>
  </div>
  <ul id="notifications" tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-60 sm:w-96 max-h-[400px] overflow-y-auto flex-wrap-none">
    <% if !user_notifications.empty?%>
      <% user_notifications.each do |notification| %>
        <li class="<%= notification.read_at.nil? ? "": "opacity-60"%>">
          <%= link_to users_notification_path(notification.event_id), data: {turbo_stream: ""}, onClick: "my_modal_4.showModal()", class: "block max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" do%>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
              <%= user_content_notification(notification.event_id).params[:message][:title].to_s%>
            </h5>
            <div class="flex justify-between">
              <p class="font-normal text-gray-700 dark:text-gray-400">
                <%= notification.read_at.nil? ? "Mới": "Đã xem: #{notification.read_at.strftime("%d-%m-%Y")}"%>
              </p>
              <p class="font-normal text-gray-700 dark:text-gray-400">
                Đã nhận: <%= notification.created_at.strftime("%d-%m-%Y")%>
              </p>
            </div>
          <%end%>
        </li>
      <%end%>
    <%else%>
      <p class="p-10 text-2xl text-center">Chưa có thông báo</p>
    <%end%>
  </ul>
</div>
