<%= turbo_frame_tag "new_setting" do%>
  <%= simple_form_for current_user.setting, method: :put, url: user_settings_path do |f| %>
    <%= f.error_notification %>

    <%= f.input :price_electric, as: :string, input_html: { data: {controller: "currency-format"} }, wrapper_html: {class: 'mb-4'}, label: 'Giá điện (tính theo 1Kwh):', label_html: {class: 'mb-2 fw-bold'}, required: true, autofocus: true%>
    <%= f.input :price_water, as: :string, input_html: { data: {controller: "currency-format"} }, wrapper_html: {class: 'mb-4'}, label: "Giá Nước (tính theo 1m3):", label_html: {class: 'mb-2 fw-bold'}, required: true%>
    <%= f.input :price_security, as: :string, input_html: { data: {controller: "currency-format"} }, wrapper_html: {class: 'mb-4'}, label: "Giá giữ xe (tính theo tháng):", label_html: {class: 'mb-2 fw-bold'}, required: true%>
    <%= f.input :price_internet, as: :string, input_html: { data: {controller: "currency-format"} }, wrapper_html: {class: 'mb-4'}, label: "Giá Internet (tính theo tháng):", label_html: {class: 'mb-2 fw-bold'}, required: true%>
    <%= f.input :price_trash, as: :string, input_html: { data: {controller: "currency-format"} }, wrapper_html: {class: 'mb-4'}, label: "Giá vệ sinh (tính theo tháng):", label_html: {class: 'mb-2 fw-bold'}, required: true%>
    <div class="flex justify-end">
      <%= f.submit 'Lưu', class: 'btn w-1/4 btn-primary' %>
    </div>
  <% end %>
<%end%>
