<%= simple_form_for @user,  method: :put, url: update_information_pages_path , html: { class: "flex flex-wrap flex-col" } do |f| %>
  <%= f.error_notification %>
  <div class="flex flex-wrap justify-between">
    <div>
      <%= f.input :fullname, as: :string, wrapper_html: {class: 'mb-4'}, label: 'Tên Người Dùng:', label_html: {class: 'mb-2 fw-bold'}, required: true, autofocus: true%>
      <%= f.input :address, as: :string, wrapper_html: {class: 'mb-4'}, label: "Địa Chỉ:", label_html: {class: 'mb-2 fw-bold'}%>
    </div>
    <div>
      <%= f.input :phone_number, as: :string, wrapper_html: {class: 'mb-4'}, label: "SĐT:", label_html: {class: 'mb-2 fw-bold'}%>
      <%= f.input :email, as: :string, wrapper_html: {class: 'mb-4'}, label: "Email:", label_html: {class: 'mb-2 fw-bold'}%>
    </div>
  </div>
  <div>
    <%= f.input :avatar_url, as: :file, class: "file-input w-full max-w-xs", label: "Avatar: ", label_html: {class: 'mb-2 fw-bold'}%>
  </div>
  <div class="flex justify-center">
    <%= cl_image_tag(@user.avatar_url.url, width: 300, height: 300, crop: :fill)  if @user.avatar_url.url %>
  </div>
  <%= f.submit 'Lưu', class: "btn w-1/4 btn-primary"%>
<% end %>
