<div class="max-w-md p-6 bg-blue-600 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" data-controller="datepicker">
  <h1 class="text-[25px]">Thêm Khách Thuê Vào Phòng</h1>
  <%= simple_form_for @room, method: :put, url: add_renter_room_path(@room.id) do |f| %>
    <!-- other form fields -->

    <%= f.input :renter_id, label: "Danh sách khách thuê", wrapper_html: {class: 'mb-4'}, collection_html: {class: 'p-4'}, label_html: {class: 'mb-2 text-white text-[10px]'}, as: :radio_buttons, collection: @renters_not_in_room.each{|renter| [renter.name, renter.id]} %>

    <%= f.button :submit, "Thêm" %>
    <%= link_to 'Tạo mới khách thuê', new_users_renter_path %>
    <hr class="m-4">
    <div class="flex justify-between">
      <%= link_to 'Trở về', users_rooms_path%>
      <%= button_to "Xóa người ở hiện tại", destroy_renter_room_path, data: {turbo_method: :delete, turbo_confirm: "Bạn có chắc chắn muốn xóa người ở hiện tại?"} %>
    </div>
  <% end %>
</div>
