<div class="max-w-md p-6 bg-blue-600 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" data-controller="datepicker">
  <h1 class="text-[25px]">Danh sách các dịch vụ</h1>
  <%= simple_form_for @room, method: :post, url: add_services_to_room_room_path() do |f| %>
    <!-- other form fields -->
    <%= f.collection_check_boxes :service_ids, current_user.services.all, :id, :name, include_hidden: false, wrapper_html: {class: 'mb-4'}, collection_html: {class: 'p-4'}, span_html: {class: 'mb-2 text-white text-[10px] flex'} do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
    <%= f.button :submit, "Xác nhận" %>
    <hr class="m-4">
    <div class="flex justify-between">
      <%= link_to 'Trở về', rooms_path%>
    </div>
  <% end %>
</div>
