<!DOCTYPE html>
<html>
  <head>
    <title>
      rental House
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', data: {"turbo-track": "reload"}, defer: true %>
  </head>
  <body>
    <div class="<%= !user_signed_in? ? 'container-xl mx-auto' : '' %>">
      <%= yield %>
    </div>
    <%= render "shared/modal" %>
  </body>
</html>
