<!DOCTYPE html>
<html>
  <head>
    <title>
      Let's learn rails!
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= javascript_include_tag '/entrypoints/application', "data-turbo-track": "reload", defer: true %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>
  <body data-controller='flash'>
    <%= render 'layouts/header' %>
    <%= render 'shared/flash' %>
    <div class="container-xl max-w-screen-xl mx-auto">
      <%= yield %>
    </div>
  </body>
</html>

