<!DOCTYPE html>
<html>
  <head>
    <title>
      rental House
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', data: {"turbo-track": "reload"}, defer: true %>

  </head>
  <body data-controller="flash">
    <% if !user_signed_in? %>
      <div class="container-xl max-w-screen-xl mx-auto">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
